{% layout "layout.liquid" %} {% block content %}
<div class="header-block"></div>
<header class="welcome-page">
  <h1>Welcome</h1>
  <br>
  Log in or create an account
</header>
<div class="login-container">
  <a href="/user/signup"><button>Signup</button></a>
  <a href="/user/login"><button>Login</button></a>
</div>
{% endblock %}