* {
    margin-top: 0;
    font-family: 'Joan', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:2em;
    margin:0em 2em;
}

.grid-container::before{
    display: none;
}

.image-wrapper {
    width: 100%;
    height: auto;
    padding: 15px;
}

.article-issues-image {
    width: 100%;
    height: auto;
}

.img {
    width: 100%;
}

.article-title {
    padding: 5px 0px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.issue-header{
    text-align: center;
    padding: 3em;
    margin: 50px 0px;
}

.published-at{
    color: #2e00b0;
    text-align:center;
}

.header-block{
    background-color:#3e2f7f;
    width: 100%;
    height: 8rem;
    margin:30px 0px 0px 0px;
}

.header-link {
    color: #333333;
}
.header-link:hover{
    text-decoration: none;
    color: #333333;
}

.site-header{
    padding: 0px 30px;
}

.issue-id-header{
    padding:30px 140px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

h1 {
    line-height:1.2em;
    word-spacing: .2em;
    font-size: 30px;
}

span {
    display: block;
}

.author {
    margin: 0px 20px;
}

fieldset{
    padding: 20px;
    margin: 20px 0px;
    text-align: center;
}

legend{
    padding: 0px 10px;
    text-indent: -400px;
}

textarea{
    height: 75px;
    width: 300px;
    max-width: 500px;
    max-height: 150px;
    
}

label{
    text-indent: -400px;
}

.list-container h1 {
    font-size: 50px;
}

.list-container li {
    padding: 20px 0px;
    font-size: 24px;
}

.list-container a{
    color:#2e00b0;
}

.list-container a:hover{
    text-decoration: none;
}

.list-container{
    padding: 20px;
}


