{%layout 'layout.liquid'%}{%block content%}
<div class="header-block"></div>
<div class="edit-block">
    <form action="/issues/{{issue}}/edit/{{id}}?_method=PUT" method="POST">
        <textarea name="body" id="update-comment" placeholder="Edit Comment"></textarea>
        <input type="submit" value="Update">
    </form>
</div>
{%endblock%}