{%layout 'layout.liquid'%}{%block content%}
<form action="/issues/{{data[0].issue}}?_method=PUT" name="update" method="POST">
    <textarea name="_method" id="update-comment" placeholder="Edit Comment"></textarea>
    <input type="submit" value="Update">
</form>
{%endblock%}