{%layout 'layout.liquid'%}{% block content%}
<header>
    <aside class="list-container">
        <h1>Issues</h1>
        <ul>
            {%for issue in data%}
            <li><a href="/issues/{{issue}}">{{issue}}</a></li>
            {%endfor%}
        </ul>
    </aside>
    <div class="suggested-articles">
    </div>
</header>
{%endblock%} 