{%layout 'layout.liquid'%}{% block content%}
<header>
    <aside>
        <h1>Issues</h1>
        <ul>
            {%for issue in data%}
            <li><a href="/issues/{{issue}}">{{issue}}</a></li>
            {%endfor%}
        </ul>
    </aside>
</header>
{%endblock%} 