{%layout 'layout.liquid'%}{% block content%}
<header>
    <aside>
        <h1>Issues</h1>
        <ul>
            <li><a href="Issue">Children and Family</a></li>
            <li>Climate</li>
        </ul>
    </aside>
</header>
{%endblock%} 