{%layout 'layout.liquid'%} {%block content%}
<div class="container">
{%for articleIssue in data%}
<a href="" class="article-issues-image"><img src="{{articleIssue.urlToImage}}" alt=""></a>
{%endfor%}
</div>
{%endblock%}